<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GameLogsMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GameLogsMVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

    <style>
        .person-icon i {
            cursor: pointer;
        }

        .overlay {
            position: absolute;
            top: 100%;
            right: 0;
            width: 200px; /* Adjust width as needed */
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;
            display: none;
        }

        .person-icon:hover .overlay {
            display: block;
        }

        .signupOverlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
            display: none; /* Initially hidden */
            justify-content: center;
            align-items: center;
            z-index: 999; /* Set a high z-index value */
        }

        .signupOverlay-content {
            background-color: white;
            padding: 20px;
            padding-top: 30px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            position: relative; /* Set position relative for absolute positioning of the close button */
        }

        .signup-form {
            display: flex;
            flex-direction: column;
        }

            .signup-form input,
            .signup-form button {
                margin-bottom: 10px;
            }

        .close-btn {
            position: absolute;
            top: 0px;
            right: 0px;
            background: transparent;
            border: none;
            font-size: 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CrowdChamp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/MLB">MLB</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/NCAAF">NCAAF</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/NFL">NFL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/NBA">NBA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/NCAAB">NCAAB</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/Home/Users">Users</a>
                        </li>
                        <li id="loginIcon" class="nav-item person-icon">
                            <i class="fas fa-user"></i>
                            <div class="overlay" id="loginContainer">
                                <form id="loginForm">
                                    <input type="text" id="usernameInput" placeholder="Username" />
                                    <input type="password" id="passwordInput" placeholder="Password" />
                                    <button type="button" onclick="login()">Login</button>
                                    <button type="button" onclick="showSignupOverlay()">Sign Up</button>
                                </form>
                            </div>
                        </li>
                        <li id="userNav" class="nav-item" style="display: none">
                            <a id="welcomeContainer" class="nav-link text-dark"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="signupOverlay" class="signupOverlay">
        <div class="signupOverlay-content">
            <form id="signupForm">
                <input type="text" id="signupUsernameInput" placeholder="Username" />
                <input type="password" id="signupPasswordInput" placeholder="Password" />
                <button type="button" onclick="signup()">Sign Up</button>
                <div id="signUpContainer"></div>
            </form>
            <div>
                <button type="button" class="close-btn" onclick="hideSignupOverlay()">X</button>
            </div>       
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - GameLogsMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Check if the login cookie exists
        if(document.cookie != null){
            var username = document.cookie.split(";")[0].split("=")[1].trim();
            document.getElementById("welcomeContainer").setAttribute("href", `/User/Index?userName=${username}`);
            document.getElementById("welcomeContainer").innerHTML = username;
            document.getElementById("loginIcon").style.display = "none";
            document.getElementById("userNav").style.display = "flex";
        }       
    });

    function login(){
        var message = document.getElementById("messageContainer");
        var id = document.getElementById("usernameInput").value;
        var password = document.getElementById("passwordInput").value;
        var loginContainer = document.getElementById("loginContainer");
        var welcomeContainer = document.getElementById("welcomeContainer")
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/Home/Login", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        const data = {
            ID: id,
            Password: password         
        };
        const jsonData = JSON.stringify(data);
        xhr.send(jsonData);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) { // 4 indicates that the request is complete
                if (xhr.status === 200) {
                    if(xhr.responseText == "Success."){
                        welcomeContainer.innerHTML = id;
                        document.getElementById("welcomeContainer").setAttribute("href", `/User/Index?userName=${id}`);
                        document.getElementById("loginIcon").style.display = "none";
                        document.getElementById("userNav").style.display = "flex";
                    }
                    else{
                        document.getElementById("usernameInput").value = "";
                        document.getElementById("passwordInput").value = "";
                        message.innerHTML = xhr.responseText;
                    }
                }
            }
        }
    } 
    
    function showSignupOverlay() {
        document.getElementById("signupOverlay").style.display = "flex";
    }

    // Function to hide the overlay
    function hideSignupOverlay() {
        document.getElementById("signupOverlay").style.display = "none";
    }

    function signup(){
        var message = document.getElementById("signUpContainer");
        var id = document.getElementById("signupUsernameInput").value;
        var password = document.getElementById("signupPasswordInput").value;
        var signUpOverlay = document.getElementById("signUpOverlay");
        var welcomeContainer = document.getElementById("welcomeContainer")
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/Home/SignUp", true);
        xhr.setRequestHeader("Content-Type", "application/json");
        const data = {
            ID: id,
            Password: password,
            FavMLB: "None",
            FavNBA: "None",
            FavNFL: "None",
            FavNCAAF: "None",
            FavNCAAB: "None"
        };
        const jsonData = JSON.stringify(data);
        xhr.send(jsonData);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) { // 4 indicates that the request is complete
                if (xhr.status === 200) {
                    if (xhr.responseText == "Success.") {
                        welcomeContainer.innerHTML = id;
                        document.getElementById("welcomeContainer").setAttribute("href", `/User/Index?userName=${id}`);
                        document.getElementById("signupOverlay").style.display = "none";
                        document.getElementById("loginIcon").style.display = "none";
                        document.getElementById("userNav").style.display = "flex";
                    }
                    else {
                        document.getElementById("usernameInput").value = "";
                        document.getElementById("passwordInput").value = "";
                        message.innerHTML = xhr.responseText;
                    }
                }
            }
        }
    }
</script>
